<html>
<head>
  <meta http-equiv="refresh" content="0;url=/de/">
  <meta name="robots" content="noindex">
  <link rel="canonical" href="/de/">
</head>
<body>
  <a href="/de/">Redirecting…</a>
</body>
</html>
